@page "/becarios/{studentId:int}/padrinos/alta"
@attribute [Authorize(Policy = nameof(SponsorshipCreate))]
@inherits AuthenticationRequiredComponentBase

@using Fonbec.Web.DataAccess.Constants
@using Fonbec.Web.DataAccess.Entities.Enums

<PageHeader Title="Asignar padrino" />

<MudPaper Class="pa-6 mt-4" Elevation="1">

    @if (!_anyEntitiesAvailable)
    {
        <MudAlert Severity="Severity.Error" Class="mb-4">

            @if (_bindModel.SponsorshipType == SponsorshipType.Sponsor)
            {
                <span>
                    No hay padrinos. Para asignar un padrino se requiere
                    <MudLink Href="@NavRoutes.SponsorCreate">
                        al menos un padrino
                    </MudLink>.
                </span>
            }
            else if (_bindModel.SponsorshipType == SponsorshipType.Company)
            {
                <span>
                    No hay empresas. Para asignar una empresa se requiere
                    <MudLink Href="@NavRoutes.CompanyCreate">
                        al menos una empresa
                    </MudLink>.
                </span>
            }

        </MudAlert>
    }

    <MudStack Spacing="3">

        <MudText Typo="Typo.h6" Class="mb-2">
            Tipo de padrino
        </MudText>

        <MudToggleGroup T="SponsorshipType"
                        SelectionMode="SelectionMode.SingleSelection"
                        @bind-Value="_bindModel.SponsorshipType"
                        Color="Color.Primary"
                        Grow="false"
                        Style="align-self: flex-start;"
                        CheckMark>

            <MudToggleItem Value="SponsorshipType.Sponsor"
                           Text="Padrino" 
                           Icon="@Icons.Material.Filled.Person" />

            <MudToggleItem Value="SponsorshipType.Company"
                           Text="Empresa" 
                           Icon="@Icons.Material.Filled.Business" />

        </MudToggleGroup>

        <MudDivider />

        <MudForm @bind-IsValid="_formValidationSucceeded"
                 Disabled="!_anyEntitiesAvailable">

            <MudStack Spacing="2">

                <StudentSelector @bind-SelectedStudentId="StudentId"
                                 ChapterId="FonbecClaim.ChapterId" />

                @if (_bindModel.SponsorshipType == SponsorshipType.Sponsor)
                {
                    <SponsorSelector @bind-SelectedSponsorId="_bindModel.SelectedSponsorId"
                                     ChapterId="FonbecClaim.ChapterId"
                                     NumberOfSponsorsLoaded="NumberOfSponsorsLoaded" />
                }

                @if (_bindModel.SponsorshipType == SponsorshipType.Company)
                {
                    <CompanySelector @bind-SelectedCompanyId="_bindModel.SelectedCompanyId"
                                     NumberOfCompaniesLoaded="NumberOfCompaniesLoaded" 
                                     IsRequired="true" />
                }

                <MudDatePicker Label="Fecha de inicio"
                               @bind-Date="_bindModel.SponsorshipStartDate"
                               OpenTo="OpenTo.Month"
                               FixDay="1"
                               DateFormat="\P\r\i\n\c\i\p\i\o\ \d\e\ MMM yyyy"
                               Required="true"
                               MaxDate="_isEndDateKnown && 
                                        _bindModel.SponsorshipEndDate.HasValue ? 
                                        _bindModel.SponsorshipEndDate.Value : DateTime.MaxValue" />

                <MudCheckBox T="bool"
                             Value="_isEndDateKnown"
                             ValueChanged="OnIsEndDateKnownCheckBoxChanged"
                             Label="Conozco la fecha de fin"
                             Color="Color.Primary" />

                <MudDatePicker Label="Fecha de fin"
                               Date="_bindModel.SponsorshipEndDate"
                               DateChanged="OnEndDateChanged"
                               OpenTo="OpenTo.Month"
                               FixDay="1"
                               DateFormat="\F\i\n\ \d\e\ MMM yyyy"
                               Required="_isEndDateKnown"
                               Disabled="!_isEndDateKnown"
                               MinDate="_bindModel.SponsorshipStartDate" />

                <MudTextField T="string"
                              Label="Información adicional"
                              @bind-Value="_bindModel.SponsorshipNotes"
                              Immediate="true"
                              MaxLength="MaxLength.Auditable.Notes" />

            </MudStack>

        </MudForm>

        <MudDivider />

        <MudStack Row="true" Spacing="2">

            <MudButton OnClick="Save"
                       Disabled="SaveButtonDisabled"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Save"
                       Color="Color.Primary">
                Crear
            </MudButton>

            <MudButton Href="@NavRoutes.Sponsorships(StudentId)"
                       Variant="Variant.Text">
                Cancelar
            </MudButton>

        </MudStack>

    </MudStack>

</MudPaper>

<LoadingIndicator Loading="_saving" LoadingText="Guardando los datos" />