@attribute [Route(NavRoutes.Sponsors)]
@attribute [Authorize(Policy = nameof(SponsorsList))]
@inherits AuthenticationRequiredComponentBase

@using Fonbec.Web.DataAccess.Constants
@using Fonbec.Web.DataAccess.Entities.Enums
@using Fonbec.Web.Logic.Models.Sponsors

<PageHeader Title="Padrinos" />

<MudStack StretchItems="StretchItems.Middle" Row>
    <AuthorizeView Policy="@nameof(SponsorCreate)">
        <MudTooltip Text="Alta de padrino"
                    Arrow="true"
                    Placement="Placement.Right"
                    Color="Color.Primary">
            <MudFab Href="@NavRoutes.SponsorCreate"
                    StartIcon="@Icons.Material.Filled.Add"
                    Color="Color.Primary" />
        </MudTooltip>
    </AuthorizeView>

    <MudSpacer />

    <MudSwitch @bind-Value="_sortByLastName" LabelPlacement="Placement.Left">
        @(_sortByLastName ? "Apellido, Nombre" : "Nombre Apellido")
    </MudSwitch>
</MudStack>

@if (FonbecClaim?.ChapterId != null)
{
    <MudText>Filial: @FonbecClaim.ChapterName</MudText>
}
else
{
    <MudText>Filial: GLOBAL</MudText>
}

<LoadingIndicator Loading="Loading" />

@if (_viewModels.Any())
{
    <MudDataGrid T="SponsorsListViewModel"
                 Items="_viewModels"
                 Dense="true" Hover="true" Striped="true" Bordered="true"
                 ReadOnly="true"
                 QuickFilter="Filter"
                 Filterable="true"
                 FilterMode="DataGridFilterMode.ColumnFilterRow"
                 FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive"
                 SortMode="SortMode.Multiple"
                 Class="mt-4">

        <ToolBarContent>
            <MudTextField T="string"
                          @bind-Value="_searchString"
                          Placeholder="Buscar"
                          Clearable="true"
                          Immediate="true"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium" />
        </ToolBarContent>

        <Columns>

            <PropertyColumn Property="@(vm => _sortByLastName ? vm.SponsorLastName : vm.SponsorFirstName)"
                            Title="Nombre">
                <CellTemplate>
                    <AuditableItemDisplay Id="@context.Item.SponsorId"
                                          ItemName="@SponsorFullName(context.Item)"
                                          Email="@context.Item.SponsorEmail"
                                          AuditableViewModel="@context.Item" />
                    @if (!string.IsNullOrWhiteSpace(context.Item.SponsorNickName))
                    {
                        <span>(<em>@context.Item.SponsorNickName</em>)</span>
                    }
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="vm => vm.SponsorNickName" Title="Apodo" Required="false">
		        <EditTemplate>
			        <MudTextField T="string" @bind-Value="context.Item.SponsorNickName" Immediate="true"
			                      Label="Apodo" Variant="Variant.Outlined" Margin="Margin.Dense"
			                      MaxLength="MaxLength.FonbecWebUser.NickName" />
		        </EditTemplate>
	        </PropertyColumn>

            <PropertyColumn Property="vm => vm.SponsorPhoneNumber" Title="Teléfono" Required="false">
				<EditTemplate>
					<MudTextField T="string" @bind-Value="context.Item.SponsorPhoneNumber" Immediate="true"
								  Label="Teléfono" Variant="Variant.Outlined" Margin="Margin.Dense"
								  MaxLength="MaxLength.FonbecWebUser.PhoneNumber" />
				</EditTemplate>
	        </PropertyColumn>

            <PropertyColumn Property="vm => vm.SponsorEmail" Title="Correo electrónico">
                <CellTemplate>
                    <MudLink Href="@($"mailto:{context.Item.SponsorEmail}")">
                        @context.Item.SponsorEmail
                    </MudLink>
                </CellTemplate>
            </PropertyColumn>

            <TemplateColumn Title="Acciones" Filterable="false" Sortable="false">
                to fill
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="SponsorsListViewModel" RowsPerPageString="Filas por página:" InfoFormat="{first_item}-{last_item} of {all_items}" />
        </PagerContent>
    </MudDataGrid>
}

